<div class="personnel-record-container">
    <div class="page-header">
        <p-toolbar styleClass="header-toolbar">
            <div class="header-content">
                <strong class="page-title">Thêm mới hồ sơ</strong>
                <app-shared-breadcrumb></app-shared-breadcrumb>
            </div>
        </p-toolbar>
    </div>

    <div class="tab-wrapper">
        <div class="sidebar-list">
            <button
                type="button"
                class="sidebar-item"
                [ngClass]="{ active: pageFlag === Page.General }"
                (click)="handleChangePage(Page.General)"
            >
                Thông tin chung
            </button>
            <button
                type="button"
                class="sidebar-item"
                [ngClass]="{ active: pageFlag === Page.Contact }"
                (click)="handleChangePage(Page.Contact)"
            >
                Thông tin liên hệ
            </button>
            <button
                type="button"
                class="sidebar-item"
                [ngClass]="{ active: pageFlag === Page.Job }"
                (click)="handleChangePage(Page.Job)"
            >
                Thông tin công việc
            </button>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="common">
            <div class="general-information" *ngIf="pageFlag == Page.General">
                <app-general-information></app-general-information>
            </div>
            <div class="contact-information" *ngIf="pageFlag == Page.Contact">
                <app-contact-information></app-contact-information>
            </div>
            <div class="job-information" *ngIf="pageFlag == Page.Job">
                <app-job-information></app-job-information>
            </div>
        </div>
    </div>
</div>
