<p-confirmDialog appendTo="body" [closable]="false"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <strong class="font-size-16">Danh sách ca</strong>
                <p-breadcrumb [model]="$any(this).items || []"></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <div class="flex gap-2">
                    <button
                        [routerLink]="['/shift/create']"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        label="Thêm mới ca"
                        *ngIf="
                            hasPermissionHelper.hasPermissions([
                                permissionConstant.ManageShiftSetupCreate
                            ])
                        "
                        (click)="show()"
                    ></button>
                    <p-button
                        *ngIf="
                            hasPermissionHelper.hasPermissions([
                                permissionConstant.ManageShiftSetupDelete
                            ])
                        "
                        label="Xóa"
                        [disabled]="
                            this.selectedShift.length > 0 ? false : true
                        "
                        (click)="handleOnDeleteMultiple($event)"
                        severity="danger"
                    ></p-button>
                </div>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <div class="flex gap-3">
                <div class="flex flex-column">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            placeholder="Tìm theo tên ca"
                            [(ngModel)]="queryParameters.name"
                            style="width: 300px"
                        />
                    </span>
                </div>
                <div class="flex flex-column">
                    <button
                        pButton
                        type="button"
                        (click)="handleSearchStaffPostion()"
                    >
                        Lọc
                    </button>
                </div>
                <div class="flex flex-column">
                    <p-button
                        pTooltip="Ẩn/hiện cột"
                        label=""
                        [outlined]="true"
                        severity="secondary"
                        icon="pi pi-table"
                        (onClick)="colPanelRef.toggle($event)"
                    ></p-button>

                    <p-overlayPanel #colPanelRef>
                        <div style="padding: 8px; min-width: 220px">
                            <p style="font-weight: 600; margin-bottom: 8px">
                                Chọn cột hiển thị
                            </p>
                            <div
                                *ngFor="let col of allColumns"
                                style="margin-bottom: 6px"
                            >
                                <p-checkbox
                                    [binary]="true"
                                    [label]="col.header"
                                    [ngModel]="isColVisible(col.field)"
                                    (onChange)="onColumnToggle($event, col)"
                                    [ngModelOptions]="{ standalone: true }"
                                >
                                </p-checkbox>
                            </div>
                        </div>
                    </p-overlayPanel>
                </div>
            </div>

            <div class="table-section" style="margin-top: 20px">
                <div class="table-wrapper">
                    <p-table
                        responsiveLayout="scroll"
                        styleClass="p-datatable-striped"
                        [rowHover]="true"
                        [paginator]="false"
                        [value]="shifts"
                        [(selection)]="selectedShift"
                        dataKey="id"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngIf="isColVisible('code')" [style]="{ 'min-width': '150px' }">Mã ca</th>
                                <th *ngIf="isColVisible('name')" [style]="{ 'min-width': '150px' }">Tên ca</th>
                                <th *ngIf="isColVisible('startTime')" [style]="{ 'min-width': '150px' }">
                                    Giờ bắt đầu
                                </th>
                                <th *ngIf="isColVisible('endTime')" [style]="{ 'min-width': '150px' }">
                                    Giờ kết thúc
                                </th>
                                <th *ngIf="isColVisible('startTakeABreak')" [style]="{ 'min-width': '150px' }">
                                    Giờ bắt đầu nghỉ
                                </th>
                                <th *ngIf="isColVisible('endTakeABreak')" [style]="{ 'min-width': '150px' }">
                                    Giờ kết thúc nghỉ
                                </th>
                                <th *ngIf="isColVisible('workingHours')" [style]="{ 'min-width': '150px' }">Giờ công</th>
                                <th *ngIf="isColVisible('totalRestTime')" [style]="{ 'min-width': '150px' }">
                                    Tổng thời gian nghỉ
                                </th>
                                <th *ngIf="isColVisible('workingDays')" [style]="{ 'min-width': '150px' }">
                                    Ngày công
                                </th>
                                <th *ngIf="isColVisible('regularMultiplier')" [style]="{ 'min-width': '150px' }">
                                    Hệ số ngày thường
                                </th>
                                <th *ngIf="isColVisible('leaveDaysMultiplier')" [style]="{ 'min-width': '150px' }">
                                    Hệ số ngày nghỉ
                                </th>
                                <th *ngIf="isColVisible('holidayMultiplier')" [style]="{ 'min-width': '150px' }">
                                    Hệ số ngày lễ
                                </th>
                                <th
                                    *ngIf="isColVisible('action')"
                                    [style]="{
                                        'min-width': '150px',
                                        'text-align': 'center'
                                    }"
                                >
                                    Hành động
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td *ngIf="isColVisible('code')" class="sticky-column">
                                    {{ rowData.code }}
                                </td>
                                <td *ngIf="isColVisible('name')" class="sticky-column">{{ rowData.name }}</td>
                                <td *ngIf="isColVisible('startTime')">
                                    {{ rowData.startTime }}
                                </td>
                                <td *ngIf="isColVisible('endTime')">{{ rowData.endTime }}</td>
                                <td *ngIf="isColVisible('startTakeABreak')">
                                    {{ rowData.startTakeABreak }}
                                </td>
                                <td *ngIf="isColVisible('endTakeABreak')">
                                    {{ rowData.endTakeABreak }}
                                </td>
                                <td *ngIf="isColVisible('workingHours')">
                                    {{ rowData.workingHours }}
                                </td>
                                <td *ngIf="isColVisible('totalRestTime')">
                                    {{ rowData.totalRestTime }}
                                </td>
                                <td *ngIf="isColVisible('workingDays')">
                                    {{ rowData.workingDays }}
                                </td>
                                <td *ngIf="isColVisible('regularMultiplier')">
                                    {{ rowData.regularMultiplier }}
                                </td>
                                <td *ngIf="isColVisible('leaveDaysMultiplier')">
                                    {{ rowData.leaveDaysMultiplier }}
                                </td>
                                <td *ngIf="isColVisible('holidayMultiplier')">
                                    {{ rowData.holidayMultiplier }}
                                </td>
                                <td *ngIf="isColVisible('action')" style="text-align: center">
                                    <span
                                        class="icon-edit"
                                        [routerLink]="['/shift/edit', rowData?.id]"
                                        *ngIf="
                                            hasPermissionHelper.hasPermissions([
                                                permissionConstant.ManageShiftSetupEdit
                                            ])
                                        "
                                    >
                                        <i class="pi pi-file-edit"></i>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div
                    class="flex align-items-center mt-3"
                    style="justify-content: space-between"
                >
                    <p>
                        <span style="font-weight: 500">{{
                            1 + (paging.pageIndex - 1) * paging.pageSize
                        }}</span>
                        -
                        <span style="font-weight: 500">{{
                            1 +
                                (paging.pageIndex - 1) * paging.pageSize +
                                (paging.pageSize - 1)
                        }}</span>
                        trong
                        <span style="font-weight: 500">{{
                            paging.totalRecords
                        }}</span>
                        bản ghi
                    </p>
                    <div *ngIf="shifts?.length > 0">
                        <p-paginator
                            class="custum-paging"
                            (onPageChange)="onPageChange($event)"
                            [first]="(paging.pageIndex - 1) * paging.pageSize"
                            [rows]="paging.pageSize"
                            [totalRecords]="paging.totalRecords"
                            [rowsPerPageOptions]="config.pageSizeOptions"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
