<div class="row p-3 pb-0 pt-0">
    <p-toolbar styleClass="mb-2">
        <div class="">
            <strong class="font-size-16">Danh sách vai trò/Nhóm quyền</strong>
            <p-breadcrumb [model]="$any(this).items || []"></p-breadcrumb>
        </div>
    </p-toolbar>
</div>
<div class="card-custom">
    <div class="filter-row">
        <div class="search-col">
            <span class="p-input-icon-left search-input-wrap">
                <i class="pi pi-search"></i>
                <input
                    [(ngModel)]="queryParameters.name"
                    id="employeeName"
                    placeholder="Nhập tên vai trò"
                    pInputText
                    class="form-control"
                    (keydown.enter)="onSearch()"
                />
            </span>
        </div>

        <div class="filter-action-col">
            <button pButton pRipple label="Lọc" class="buttonfilter" (click)="onSearch()"></button>
        </div>

        <div class="filter-action-col">
            <button pButton pRipple icon="pi pi-sync" class="buttonfilter button-outline" (click)="onRefreshSearch()"></button>
        </div>

        <div class="filter-action-col">
            <button pButton pRipple label="Thêm" icon="pi pi-plus-circle" class="buttonfilter" (click)="onAdd()"></button>
        </div>
    </div>
</div>

<p-table
    [value]="roles"
    [(selection)]="selectedRoles"
    [paginator]="false"
    [rows]="10"
    responsiveLayout="scroll"
    styleClass="p-datatable-striped custom-scrollbar"
    [rowHover]="true"
    [ngStyle]="{
        width: 'auto',
        'overflow-x': 'auto',
        'table-layout': 'auto'
    }"
>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [hidden]="!isColumnVisible(col.field)">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
        <tr>
            <td class="text-center">
                <p-tableCheckbox [value]="role"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" class="max-width-500" [hidden]="!isColumnVisible(col.field)">
                <span *ngIf="!col.field.includes('description')">
                    {{ role[col.field] }}
                </span>
                <span *ngIf="col.field.includes('description')">
                    <span *ngIf="expandState[role.id]">
                        {{ role.description }}
                        <a
                            class="read-more-button"
                            (click)="toggleDescription(role.id)"
                            >Thu gọn</a
                        >
                    </span>
                    <span *ngIf="!expandState[role.id]">
                        <span
                            *ngIf="
                                role.description &&
                                role.description.length <= 100
                            "
                        >
                            {{ role.description }}
                        </span>
                        <span
                            *ngIf="
                                role.description &&
                                role.description.length > 100
                            "
                        >
                            {{ role.description | truncate : 100 : true }}
                        </span>
                        <a
                            *ngIf="
                                role.description &&
                                role.description.length > 100
                            "
                            class="read-more-button"
                            (click)="toggleDescription(role.id)"
                            >Xem thêm</a
                        >
                    </span>
                </span>

                <span *ngIf="col.field.includes('action')">
                    <div class="" style="display: flex; align-items: center">
                        <div
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                            [routerLink]="[
                                '/decentralization/role/edit',
                                role.id
                            ]"
                        >
                            <i class="pi pi-file-edit"></i>
                        </div>
                        <div
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                            [routerLink]="[
                                '/decentralization/role/detail',
                                role.id
                            ]"
                        >
                            <i class="pi pi-eye"></i>
                        </div>
                        <div
                            (click)="handleDelete(role)"
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                        >
                            <i class="pi pi-trash"></i>
                        </div>
                    </div>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="paging-bot dg-fix">
    <div class="paging-info">
        <div [innerHTML]="currentPageReport"></div>
    </div>
    <p-paginator
        class="org-paginator"
        [rows]="this.pageSize"
        (onPageChange)="onPageChange($event)"
        [totalRecords]="totalRecords > 0 ? totalRecords : 1"
        [rowsPerPageOptions]="[10, 20, 30]"
        [first]="(this.pageIndex - 1) * this.pageSize"
    ></p-paginator>
</div>

<app-confirm-dialog></app-confirm-dialog>
