<div class="row p-3 pb-0 pt-0">
    <p-toolbar styleClass="mb-2">
        <div class="">
            <strong class="font-size-16">Danh sách vai trò/Nhóm quyền</strong>
            <p-breadcrumb
                [model]="breadcrumbs"
                [home]="{ icon: 'pi pi-home' }"
            ></p-breadcrumb>
        </div>
    </p-toolbar>
</div>
<div class="p-grid p-fluid card-custom">
    <div class="p-col-2 text-right">
        <p-button
            class="ml-2"
            (click)="onAdd()"
            icon="pi pi-plus-circle"
            label="Thêm"
        />
    </div>
</div>

<div class="flex justify-content-between mb-2 card-custom">
    <div class="flex">
        <input
            class="ml-3"
            [(ngModel)]="queryParameters.name"
            id="employeeName"
            placeholder="Nhập tên"
            pInputText
        />
        <input
            class="ml-3"
            [(ngModel)]="queryParameters.description"
            id="employeeName"
            placeholder="Nhập mô tả"
            pInputText
        />
        <div class="flex justify-content-center">
            <p-button class="ml-4" (click)="onSearch()" label="Lọc" />
            <p-button
                class="ml-2"
                (click)="onRefreshSearch()"
                icon="pi pi-sync"
            />
        </div>
    </div>
</div>

<p-table
    [value]="roles"
    [(selection)]="selectedRoles"
    [paginator]="false"
    [rows]="10"
    responsiveLayout="scroll"
    styleClass="p-datatable-striped custom-scrollbar"
    [rowHover]="true"
    [ngStyle]="{
        width: 'auto',
        'overflow-x': 'auto',
        'table-layout': 'auto'
    }"
>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [hidden]="!col.selected">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
        <tr>
            <td class="text-center">
                <p-tableCheckbox [value]="role"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" class="max-width-500">
                <span *ngIf="!col.field.includes('description')">
                    {{ role[col.field] }}
                </span>
                <span *ngIf="col.field.includes('description')">
                    <span *ngIf="expandState[role.id]">
                        {{ role.description }}
                        <a
                            class="read-more-button"
                            (click)="toggleDescription(role.id)"
                            >Thu gọn</a
                        >
                    </span>
                    <span *ngIf="!expandState[role.id]">
                        <span
                            *ngIf="
                                role.description &&
                                role.description.length <= 100
                            "
                        >
                            {{ role.description }}
                        </span>
                        <span
                            *ngIf="
                                role.description &&
                                role.description.length > 100
                            "
                        >
                            {{ role.description | truncate : 100 : true }}
                        </span>
                        <a
                            *ngIf="
                                role.description &&
                                role.description.length > 100
                            "
                            class="read-more-button"
                            (click)="toggleDescription(role.id)"
                            >Xem thêm</a
                        >
                    </span>
                </span>

                <span *ngIf="col.field.includes('action')">
                    <div class="" style="display: flex; align-items: center">
                        <div
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                            [routerLink]="[
                                '/decentralization/role/edit',
                                role.id
                            ]"
                        >
                            <i class="pi pi-file-edit"></i>
                        </div>
                        <div
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                            [routerLink]="[
                                '/decentralization/role/detail',
                                role.id
                            ]"
                        >
                            <i class="pi pi-eye"></i>
                        </div>
                        <div
                            (click)="handleDelete(role)"
                            class="font-size-16 ml-2"
                            style="padding: 3px; border-radius: 50%"
                        >
                            <i class="pi pi-trash"></i>
                        </div>
                    </div>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
<div
    class="flex align-items-center mt-3"
    style="justify-content: space-between"
>
    <p>
        <span style="font-weight: 500">{{
            1 + (paging.pageIndex - 1) * paging.pageSize
        }}</span>
        -
        <span style="font-weight: 500">{{
            1 + (paging.pageIndex - 1) * paging.pageSize + (paging.pageSize - 1)
        }}</span>
        trong
        <span style="font-weight: 500">{{ paging.totalRecords }}</span>
        bản ghi
    </p>
    <div *ngIf="roles?.length > 0">
        <p-paginator
            class="custum-paging"
            (onPageChange)="onPageChange($event)"
            [first]="(paging.pageIndex - 1) * paging.pageSize"
            [rows]="paging.pageSize"
            [totalRecords]="paging.totalRecords"
            [rowsPerPageOptions]="config.pageSizeOptions"
        />
    </div>
</div>

<app-confirm-dialog></app-confirm-dialog>
