/* General */
$scale:14px;
$borderRadius:4px;
$transitionDuration:.2s;
$height: 70px;

$primaryColor: #1a2a4a;
$primaryColorLight: #243656;
$primaryColorDark: #12203a;
$accentColor: #d4a843;

$textColor: #fff;
$whiteColor: #fff;
