<div class="row p-3 pb-0 pt-0">
    <p-toolbar styleClass="mb-2">
        <div class="">
            <strong class="font-size-16">Chi tiết vai trò/Nhóm quyền</strong>
            <app-shared-breadcrumb [model]="$any(this).items || []"></app-shared-breadcrumb>
        </div>
    </p-toolbar>
</div>

<div class=" mb-2 card-custom">
    <div class="general__info">
        <h5 class="title__heading">THÔNG TIN CHUNG</h5>
        <div class="grid p-fluid p-3">
            <div class="col-12 md:col-6 p-0">
                <div class="field mb-0 flex ">
                    <div class="col-12 mb-2 md:col-3 md:mb-0">
                        <label style="font-weight: 600; color: #000" htmlFor="name">Tên nhóm quyền/Vai trò<span
                                class="red-asterisk">*</span></label>
                    </div>
                    <div class="col-12 mb-2 md:col-9 md:mb-0">
                        <span>{{role.name}}</span>
                        <app-validation-message [form]="roleForm" [messages]="validationMessages"
                            field="name"></app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 p-0">
                <div class="field mb-0 flex ">
                    <div class="col-12 mb-2 md:col-2 md:mb-0">
                        <label style="font-weight: 600; color: #000" htmlFor="phoneNumber">Mô tả nhóm quyền</label>
                    </div>
                    <div class="col-12 mb-2 md:col-10 md:mb-0">
                        <span>{{role.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="identity-info">
        <h5 class="title__heading">PHÂN QUYỀN</h5>
        <div class="grid p-fluid p-3">
            <div class="permission-container">
                <div class="section" *ngFor="let sectionL of sectionLabel.data">
                    <h3 class="section-label">{{ sectionL.label }}</h3>
                    <p-table
                        [value]="getTopLevelPermissionsBySection(sectionL.key)"
                        [paginator]="false"
                        responsiveLayout="scroll"
                        styleClass="p-datatable-striped custom-scrollbar permission-section-table permission-matrix-table"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="matrix-module-col">Mô-đun</th>
                                <th class="matrix-action-col">Xem</th>
                                <th class="matrix-action-col">Tạo</th>
                                <th class="matrix-action-col">Sửa</th>
                                <th class="matrix-action-col">Xóa</th>
                                <th class="matrix-bonus-col">Quyền bổ sung</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-permission>
                            <tr>
                                <td>
                                    <div class="matrix-module-cell">
                                        <p-checkbox
                                            class="check-box-custom mb-check"
                                            [(ngModel)]="permission.selected"
                                            (ngModelChange)="onPermissionChange(permission)"
                                            binary="true"
                                            [disabled]="true"
                                        ></p-checkbox>
                                        <span class="matrix-module-name">{{ permission.displayName }}</span>
                                    </div>
                                </td>

                                <td class="matrix-action-cell">
                                    <p-checkbox
                                        *ngIf="getActionChild(permission, 'view') as viewChild"
                                        class="matrix-action-checkbox"
                                        [(ngModel)]="viewChild.selected"
                                        (ngModelChange)="onPermissionChange(viewChild)"
                                        binary="true"
                                        [disabled]="true"
                                    ></p-checkbox>
                                </td>

                                <td class="matrix-action-cell">
                                    <p-checkbox
                                        *ngIf="getActionChild(permission, 'create') as createChild"
                                        class="matrix-action-checkbox"
                                        [(ngModel)]="createChild.selected"
                                        (ngModelChange)="onPermissionChange(createChild)"
                                        binary="true"
                                        [disabled]="true"
                                    ></p-checkbox>
                                </td>

                                <td class="matrix-action-cell">
                                    <p-checkbox
                                        *ngIf="getActionChild(permission, 'edit') as editChild"
                                        class="matrix-action-checkbox"
                                        [(ngModel)]="editChild.selected"
                                        (ngModelChange)="onPermissionChange(editChild)"
                                        binary="true"
                                        [disabled]="true"
                                    ></p-checkbox>
                                </td>

                                <td class="matrix-action-cell">
                                    <p-checkbox
                                        *ngIf="getActionChild(permission, 'delete') as deleteChild"
                                        class="matrix-action-checkbox"
                                        [(ngModel)]="deleteChild.selected"
                                        (ngModelChange)="onPermissionChange(deleteChild)"
                                        binary="true"
                                        [disabled]="true"
                                    ></p-checkbox>
                                </td>

                                <td class="matrix-bonus-cell">
                                    <div
                                        class="bonus-wrap"
                                        *ngIf="getBonusChildren(permission) as bonusChildren"
                                    >
                                        <p-checkbox
                                            *ngFor="let bonus of bonusChildren"
                                            class="bonus-checkbox"
                                            label="{{ bonus.displayName }}"
                                            [(ngModel)]="bonus.selected"
                                            (ngModelChange)="onPermissionChange(bonus)"
                                            binary="true"
                                            [disabled]="true"
                                        ></p-checkbox>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="flex danger-notice" *ngIf="selectedPermissions.length <= 0">
        <span class="ml-auto">
            Vui lòng chọn quyền cho nhóm quyền
        </span>
    </div> -->
</div>
<!-- <div class="flex button-container card-custom justify-content-end">
    <button routerLink="/decentralization/role" pButton class="button" type="button"
        style="margin-right: 10px; color: white; background-color: gray; border-color: gray; justify-content:center">Hủy</button>
    <button pButton class="button" type="submit" (click)="onSubmit()"
        style="color: white; background-color: rgb(21, 21, 94); justify-content:center">Lưu</button>
</div> -->





